{% extends "base.html" %}

{% block body %}

<p><h2>Laatste {{ tweets|length }} tweets van {{ tweets[0].screen_name }}:</h2></p>
<table>
  <tr> 
    <th>Naam</th>
    <th>Aangemaakt op</th>
    <th>Gebruikersnaam</th>
  </tr>
  <tr>
    <td>{{ user.name }}</td>
    <td>{{ user.created_at }}</td>
    <td>{{ user.screen_name }}</td>
  </tr>
  <tr>
    <th>Omschrijving</th>
    <th>Status</th>
    <th>Locatie</th>
  </tr>
  <tr>
    <td>{{ user.description}}</td>
    <td>{{ 'Geverifieerd' if user.verified == True else 'Ongeverifieerd' }}</td>
    <td>{{ user.location }}</td>
  </tr>
</table>

<img src="data:image/png;base64, {{ plot_url }}">

<table>

  <tr>
    <th>Sort by</th>
    <th><a href='created_at'>Time</a></th>
    <th><a href='favorite_count'>Favorites</a></th>
    <th><a href='retweet_count'>Retweets</a></th>
    <th><a href='engagement'>Engagement</a></th>
  </th>
</table>
{% for tweet in tweets %}
  <div class='tweet' id={{ tweet.id }}>
    <table>
        <tr><p><em>"{{ tweet.tweetText }}"</em></p></tr>
      <tr>
        <th>Retweets</th>
        <th>Favorites</th>
        <th>Followers</th>
      </tr>

      <tr>
        <td>{{ tweet.retweet_count }}</td>
        <td>{{ tweet.favorite_count }}</td>
        <td>{{ tweet.followers_count  }}</td>
      </tr>

      <tr>
        <td><em>{{ tweet.created_at }}</em></td>
        <td><a href='https://twitter.com/{{ tweet.screen_name}}/status/{{tweet.id}}'>{{ tweet.id }}</a></td>

        <td></td>
      <tr>
    </table>

  </div>
  <hr>
{% else %}
  <p>No results</p>
{% endfor %}
  <div>
  <p><a href='\'>Terug</a></p>
</div>
</div>
{% endblock %}